/*******************************************************
*                                                      *
*   Google+ Feed Slider - Particle for Gantry          *
*                                                      *
*   Purpose: This project implements a basic           *
*            feed slider that fetches data from        *
*            an existing Google+ profile. The          *
*            appearance as well as the data output     *
*            can be configured via the Gantry          *
*            templating framework.                     *
*                                                      *
*   Author: Andreas Kar (thex) <andreas.kar@gmx.at>    *
*   Repository: https://git.io/fA9XZ                   *
*   Homepage: https://gantryprojects.com               *
*                                                      *
*******************************************************/

.g-google-plus-slider{
    .main-container{
        padding-left: 0 1.5rem;
        display: inline-block;
        width: 100%;
        min-height: 40px;
    }

    .content-container{
        display: inline-block;
        margin-top: 0.25rem;
        width: calc(100% - 120px);
        vertical-align: middle;
    }

    .loading-msg{
        margin-top: 0.4375rem;
    }

    .scroll-container{
        display: inline-block;
        width: 100px;
        vertical-align: middle;
    }
    
    .scroll-container.scroll-td{
        width: 50px;
        padding-bottom: 0;
    }
    
    .scroll-container.scroll-lr{
        padding-top: 0.25rem;
    }
    
    .scroll-container.scroll-lr.scroll-off{
        display: none;
    }

    .scroll-left,
    .scroll-right{
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        padding: 0 0.8125rem 0.1875rem 0.75rem;
        border-radius: 5px;
        text-shadow: none;
    }
    
    .scroll-left{
        margin-right: 0.125rem;
    }
    .scroll-right{
        margin-left: 0.125rem;
    }
    
    .scroll-td{
        .scroll-left,
        .scroll-right{
            margin: 0.125rem;
        }
    }

    .scroll-light{
        color: #888;
        border: 1px solid #888;
    }
    .scroll-light:hover{
        color: #333;
        border: 1px solid #333;
    }

    .scroll-dark{
        color: #888;
        border: 1px solid #888;
    }
    .scroll-dark:hover{
        color: #BBB;
        border: 1px solid #BBB;
    }

    margin: 0.125rem;

    .slide-element{
        .slide-image-container{}
        .slide-person-image{ margin: 0 0 0.5rem 0.75rem; }
        .slide-image-mode-1{}
        .slide-image-mode-2{ border-radius: 50%; }
        .slide-date{}

        .slide-plus-one,
        .slide-display-name{ 
            margin-left: 0.225rem;
            font-size: 0.8rem;
        }
    }
    
    .slide-on.slide-effect-1.left-dir, 
    .slide-on.slide-effect-1.right-dir{}
    
    .slide-on.slide-effect-2.left-dir,
    .slide-on.slide-effect-2.right-dir{
        animation: fade_in_half 1s;
        -moz-animation: fade_in_half 1s;
        -webkit-animation: fade_in_half 1s;
        -o-animation: fade_in_half 1s;
        animation: fade_in_half 1s;
    }
    
    .slide-on.slide-effect-3.left-dir,
    .slide-on.slide-effect-3.right-dir{
        animation: fade_in_half 2s;
        -moz-animation: fade_in_half 2s;
        -webkit-animation: fade_in_half 2s;
        -o-animation: fade_in_half 2s;
        animation: fade_in_half 2s;
    }
    
    .slide-on.slide-effect-4.left-dir
    .slide-on.slide-effect-4.right-dir{
        animation: fade_in_full 1s;
        -moz-animation: fade_in_full 1s;
        -webkit-animation: fade_in_full 1s;
        -o-animation: fade_in_full 1s;
        animation: fade_in_full 1s;
    }
    
    .slide-on.slide-effect-5.left-dir,
    .slide-on.slide-effect-5.right-dir{
        animation: fade_in_full 2s;
        -moz-animation: fade_in_full 2s;
        -webkit-animation: fade_in_full 2s;
        -o-animation: fade_in_full 2s;
        animation: fade_in_full 2s;
    }
    
    .slide-on.slide-effect-6.left-dir{
        animation: slide_left_10 1s;
        -moz-animation: slide_left_10 1s;
        -webkit-animation: slide_left_10 1s;
        -o-animation: slide_left_10 1s;
        animation: slide_left_10 1s;
    }
    
    .slide-on.slide-effect-6.right-dir{
        animation: slide_right_10 1s;
        -moz-animation: slide_right_10 1s;
        -webkit-animation: slide_right_10 1s;
        -o-animation: slide_right_10 1s;
        animation: slide_right_10 1s;
    }

    .slide-on.slide-effect-7.left-dir{
        animation: slide_left_10 2s;
        -moz-animation: slide_left_10 2s;
        -webkit-animation: slide_left_10 2s;
        -o-animation: slide_left_10 2s;
        animation: slide_left_10 2s;
    }
    
    .slide-on.slide-effect-7.right-dir{
        animation: slide_right_10 2s;
        -moz-animation: slide_right_10 2s;
        -webkit-animation: slide_right_10 2s;
        -o-animation: slide_right_10 2s;
        animation: slide_right_10 2s;
    }
          
    .slide-on.slide-effect-8.left-dir{
        animation: slide_left_20 1s;
        -moz-animation: slide_left_20 1s;
        -webkit-animation: slide_left_20 1s;
        -o-animation: slide_left_20 1s;
        animation: slide_left_20 1s;
    }
    
    .slide-on.slide-effect-8.right-dir{
        animation: slide_right_20 1s;
        -moz-animation: slide_right_20 1s;
        -webkit-animation: slide_right_20 1s;
        -o-animation: slide_right_20 1s;
        animation: slide_right_20 1s;
    }

    .slide-on.slide-effect-9.left-dir{
        animation: slide_left_20 2s;
        -moz-animation: slide_left_20 2s;
        -webkit-animation: slide_left_20 2s;
        -o-animation: slide_left_20 2s;
        animation: slide_left_20 2s;
    }
    
    .slide-on.slide-effect-9.right-dir{
        animation: slide_right_20 2s;
        -moz-animation: slide_right_20 2s;
        -webkit-animation: slide_right_20 2s;
        -o-animation: slide_right_20 2s;
        animation: slide_right_20 2s;
    }
         
    .slide-on.slide-effect-10.left-dir{
        animation: slide_left_30 1s;
        -moz-animation: slide_left_30 1s;
        -webkit-animation: slide_left_30 1s;
        -o-animation: slide_left_30 1s;
        animation: slide_left_30 1s;
    }

    .slide-on.slide-effect-10.right-dir{
        animation: slide_right_30 1s;
        -moz-animation: slide_right_30 1s;
        -webkit-animation: slide_right_30 1s;
        -o-animation: slide_right_30 1s;
        animation: slide_right_30 1s;
    }
    
    .slide-on.slide-effect-11.left-dir{
        animation: slide_left_30 2s;
        -moz-animation: slide_left_30 2s;
        -webkit-animation: slide_left_30 2s;
        -o-animation: slide_left_30 2s;
        animation: slide_left_30 2s;
    }
    
    .slide-on.slide-effect-11.right-dir{
        animation: slide_right_30 2s;
        -moz-animation: slide_right_30 2s;
        -webkit-animation: slide_right_30 2s;
        -o-animation: slide_right_30 2s;
        animation: slide_right_30 2s;
    }
    
    .slide-on.slide-effect-12.lfet-dir{
        animation: slide_left_10 1s, fade_in_half 1s;
        -moz-animation: slide_left_10 1s, fade_in_half 1s;
        -webkit-animation: slide_left_10 1s, fade_in_half 1s;
        -o-animation: slide_left_10 1s, fade_in_half 1s;
        animation: slide_left_10 1s, fade_in_half 1s;
    }
    
    .slide-on.slide-effect-12.right-dir{
        animation: slide_right_10 1s, fade_in_half 1s;
        -moz-animation: slide_right_10 1s, fade_in_half 1s;
        -webkit-animation: slide_right_10 1s, fade_in_half 1s;
        -o-animation: slide_right_10 1s, fade_in_half 1s;
        animation: slide_right_10 1s, fade_in_half 1s;
    }
    
    .slide-on.slide-effect-13.left-dir{
        animation: slide_left_10 2s, fade_in_half 2s;
        -moz-animation: slide_left_10 2s, fade_in_half 2s;
        -webkit-animation: slide_left_10 2s, fade_in_half 2s;
        -o-animation: slide_left_10 2s, fade_in_half 2s;
        animation: slide_left_10 2s, fade_in_half 2s;
    }
   
    .slide-on.slide-effect-13.right-dir{
        animation: slide_right_10 2s, fade_in_half 2s;
        -moz-animation: slide_right_10 2s, fade_in_half 2s;
        -webkit-animation: slide_right_10 2s, fade_in_half 2s;
        -o-animation: slide_right_10 2s, fade_in_half 2s;
        animation: slide_right_10 2s, fade_in_half 2s;
    }
         
    .slide-on.slide-effect-14.left-dir{
        animation: slide_left_20 1s, fade_in_half 1s;
        -moz-animation: slide_left_20 1s, fade_in_half 1s;
        -webkit-animation: slide_left_20 1s, fade_in_half 1s;
        -o-animation: slide_left_20 1s, fade_in_half 1s;
        animation: slide_left_20 1s, fade_in_half 1s;
    }

    .slide-on.slide-effect-14.right-dir{
        animation: slide_right_20 1s, fade_in_half 1s;
        -moz-animation: slide_right_20 1s, fade_in_half 1s;
        -webkit-animation: slide_right_20 1s, fade_in_half 1s;
        -o-animation: slide_right_20 1s, fade_in_half 1s;
        animation: slide_right_20 1s, fade_in_half 1s;
    }
    
    .slide-on.slide-effect-15.left-dir{
        animation: slide_left_20 2s, fade_in_half 2s;
        -moz-animation: slide_left_20 2s, fade_in_half 2s;
        -webkit-animation: slide_left_20 2s, fade_in_half 2s;
        -o-animation: slide_left_20 2s, fade_in_half 2s;
        animation: slide_left_20 2s, fade_in_half 2s;
    }
    
    .slide-on.slide-effect-15.right-dir{
        animation: slide_right_20 2s, fade_in_half 2s;
        -moz-animation: slide_right_20 2s, fade_in_half 2s;
        -webkit-animation: slide_right_20 2s, fade_in_half 2s;
        -o-animation: slide_right_20 2s, fade_in_half 2s;
        animation: slide_right_20 2s, fade_in_half 2s;
    }
          
    .slide-on.slide-effect-16.left-dir{
        animation: slide_left_30 1s, fade_in_half 1s;
        -moz-animation: slide_left_30 1s, fade_in_half 1s;
        -webkit-animation: slide_left_30 1s, fade_in_half 1s;
        -o-animation: slide_left_30 1s, fade_in_half 1s;
        animation: slide_left_30 1s, fade_in_half 1s;
    }

    .slide-on.slide-effect-16.right-dir{
        animation: slide_right_30 1s, fade_in_half 1s;
        -moz-animation: slide_right_30 1s, fade_in_half 1s;
        -webkit-animation: slide_right_30 1s, fade_in_half 1s;
        -o-animation: slide_right_30 1s, fade_in_half 1s;
        animation: slide_right_30 1s, fade_in_half 1s;
    }
    
    .slide-on.slide-effect-17.left-dir{
        animation: slide_left_30 2s, fade_in_half 2s;
        -moz-animation: slide_left_30 2s, fade_in_half 2s;
        -webkit-animation: slide_left_30 2s, fade_in_half 2s;
        -o-animation: slide_left_30 2s, fade_in_half 2s;
        animation: slide_left_30 2s, fade_in_half 2s;
    }
    
    .slide-on.slide-effect-17.right-dir{
        animation: slide_right_30 2s, fade_in_half 2s;
        -moz-animation: slide_right_30 2s, fade_in_half 2s;
        -webkit-animation: slide_right_30 2s, fade_in_half 2s;
        -o-animation: slide_right_30 2s, fade_in_half 2s;
        animation: slide_right_30 2s, fade_in_half 2s;
    }

    .slide-on.slide-effect-18.left-dir{
        animation: slide_left_10 1s, fade_in_full 1s;
        -moz-animation: slide_left_10 1s, fade_in_full 1s;
        -webkit-animation: slide_left_10 1s, fade_in_full 1s;
        -o-animation: slide_left_10 1s, fade_in_full 1s;
        animation: slide_left_10 1s, fade_in_full 1s;
    }
    
    .slide-on.slide-effect-18.right-dir{
        animation: slide_right_10 1s, fade_in_full 1s;
        -moz-animation: slide_right_10 1s, fade_in_full 1s;
        -webkit-animation: slide_right_10 1s, fade_in_full 1s;
        -o-animation: slide_right_10 1s, fade_in_full 1s;
        animation: slide_right_10 1s, fade_in_full 1s;
    }
    
    .slide-on.slide-effect-19.left-dir{
        animation: slide_left_10 2s, fade_in_full 2s;
        -moz-animation: slide_left_10 2s, fade_in_full 2s;
        -webkit-animation: slide_left_10 2s, fade_in_full 2s;
        -o-animation: slide_left_10 2s, fade_in_full 2s;
        animation: slide_left_10 2s, fade_in_full 2s;
    }
    
    .slide-on.slide-effect-19.right-dir{
        animation: slide_right_10 2s, fade_in_full 2s;
        -moz-animation: slide_right_10 2s, fade_in_full 2s;
        -webkit-animation: slide_right_10 2s, fade_in_full 2s;
        -o-animation: slide_right_10 2s, fade_in_full 2s;
        animation: slide_right_10 2s, fade_in_full 2s;
    }
         
    .slide-on.slide-effect-20.left-dir{
        animation: slide_left_20 1s, fade_in_full 1s;
        -moz-animation: slide_left_20 1s, fade_in_full 1s;
        -webkit-animation: slide_left_20 1s, fade_in_full 1s;
        -o-animation: slide_left_20 1s, fade_in_full 1s;
        animation: slide_left_20 1s, fade_in_full 1s;
    }
    
    .slide-on.slide-effect-20.right-dir{
        animation: slide_right_20 1s, fade_in_full 1s;
        -moz-animation: slide_right_20 1s, fade_in_full 1s;
        -webkit-animation: slide_right_20 1s, fade_in_full 1s;
        -o-animation: slide_right_20 1s, fade_in_full 1s;
        animation: slide_right_20 1s, fade_in_full 1s;
    }
    
    .slide-on.slide-effect-21.left-dir{
        animation: slide_left_20 2s, fade_in_full 2s;
        -moz-animation: slide_left_20 2s, fade_in_full 2s;
        -webkit-animation: slide_left_20 2s, fade_in_full 2s;
        -o-animation: slide_left_20 2s, fade_in_full 2s;
        animation: slide_left_20 2s, fade_in_full 2s;
    }
    
    .slide-on.slide-effect-21.right-dir{
        animation: slide_right_20 2s, fade_in_full 2s;
        -moz-animation: slide_right_20 2s, fade_in_full 2s;
        -webkit-animation: slide_right_20 2s, fade_in_full 2s;
        -o-animation: slide_right_20 2s, fade_in_full 2s;
        animation: slide_right_20 2s, fade_in_full 2s;
    }
         
    .slide-on.slide-effect-22.left-dir{
        animation: slide_left_30 1s, fade_in_full 1s;
        -moz-animation: slide_left_30 1s, fade_in_full 1s;
        -webkit-animation: slide_left_30 1s, fade_in_full 1s;
        -o-animation: slide_left_30 1s, fade_in_full 1s;
        animation: slide_left_30 1s, fade_in_full 1s;
    }
    
    .slide-on.slide-effect-22.right-dir{
        animation: slide_right_30 1s, fade_in_full 1s;
        -moz-animation: slide_right_30 1s, fade_in_full 1s;
        -webkit-animation: slide_right_30 1s, fade_in_full 1s;
        -o-animation: slide_right_30 1s, fade_in_full 1s;
        animation: slide_right_30 1s, fade_in_full 1s;
    }
    
    .slide-on.slide-effect-23.left-dir{
        animation: slide_left_30 2s, fade_in_full 2s;
        -moz-animation: slide_left_30 2s, fade_in_full 2s;
        -webkit-animation: slide_left_30 2s, fade_in_full 2s;
        -o-animation: slide_left_30 2s, fade_in_full 2s;
        animation: slide_left_30 2s, fade_in_full 2s;
    }
    
    .slide-on.slide-effect-23.right-dir{
        animation: slide_right_30 2s, fade_in_full 2s;
        -moz-animation: slide_right_30 2s, fade_in_full 2s;
        -webkit-animation: slide_right_30 2s, fade_in_full 2s;
        -o-animation: slide_right_30 2s, fade_in_full 2s;
        animation: slide_right_30 2s, fade_in_full 2s;
    }

    .slide-on{
        display:inherit;
    }

    .slide-off{
        display: none;
    }
}

@media screen and (max-width: 47.938rem) {
    .g-google-plus-slider{
        .content-container{
            width: 100%;
        }
        
        .scroll-container{
            width: 100%;
            text-align: center;
        }
        
        .scroll-container.scroll-lr.scroll-off{
            display: inline-block;
        }
        
        .scroll-container.scroll-td{
            display: none;
        }
        
        .scroll-left,
        .scroll-right{
            margin-top: 0.25rem;
            margin-bottom: 0.125rem
        }
        
        .slide-element{
            .slide-image-container{
                display: inline-block;
                width: 100%;
            }

            .slide-person-image{
                margin: 0.25rem 0 0 0.125rem;
            }
        }
    }
}

/* Fade Half */
@keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity:1; }
}
@-moz-keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity:1; }
}
@-webkit-keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity:1; }
}
@-o-keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity: 1; }
}

/* Fade Full */
@keyframes fade_in_full {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fade_in_full {
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fade_in_full {
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fade_in_full {
    from { opacity:0; }
    to { opacity: 1; }
}

/* Fade Out */
@keyframes fade_out {
    from { opacity:1; }
    to { opacity:0; }
}
@-moz-keyframes fade_out {
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes fade_out {
    from { opacity:1; }
    to { opacity:0; }
}
@-o-keyframes fade_out {
    from { opacity:1; }
    to { opacity:0; }
}

/* Slide Right */
@keyframes slide_right_10 {
    from { margin-left: 10%; width: 100%; }
    to { margin-left: 0%; width: 100%; }
}
@keyframes slide_right_20 {
    from { margin-left: 20%; width: 100%; }
    to { margin-left: 0%; width: 100%; }
}
@keyframes slide_right_30 {
    from { margin-left: 30%; width: 100%; }
    to { margin-left: 0%; width: 100%; }
}

/* Slide Left */
@keyframes slide_left_10 {
    from { margin-left: -20%; width: 100%; }
    to { margin-left: 0; width: 100%; }
}
@keyframes slide_left_20 {
    from { margin-left: -40%; width: 100%; }
    to { margin-left: 0; width: 100%; }
}
@keyframes slide_left_30 {
    from { margin-left: -60%; width: 100%; }
    to { margin-left: 0; width: 100%; }
}