/*******************************************************
*                                                      *
*   Google+ Feed Slider - Particle for Gantry          *
*                                                      *
*   Purpose: This project implements a basic           *
*            feed slider that fetches data from        *
*            an existing Google+ profile. The          *
*            appearance as well as the data output     *
*            can be configured via the Gantry          *
*            templating framework.                     *
*                                                      *
*   Author: Andreas Kar (thex) <andreas.kar@gmx.at>    *
*                                                      *
*******************************************************/

.g-google-plus-slider{
    .main-container{
        padding-left: 0 1.5rem;
        display: inline-block;
        width: 100%;
        min-height: 40px;
    }

    .content-container{
        display: inline-block;
        margin-top: 0.25rem;
        width: calc(100% - 100px);
    }

    .loading-msg{
        margin-top: 0.4375rem;
    }

    .scroll-contrainer{
        width: 100px;
        padding-bottom: 0.625rem;
        vertical-align: middle;
        padding-bottom: 0.75rem;
    }

    .scroll-left,
    .scroll-right{
        font-size: 1.125rem;
        margin-left: 0.5rem;
        display: inline-block;
        margin-bottom: 8px;
        padding: 0 0.8125rem 0.1875rem 0.75rem;
        border-radius: 5px;
        text-shadow: none;
    }

    .scroll-light{
        color: #888;
        border: 1px solid #888;
    }
    .scroll-light:hover{
        color: #333;
        border: 1px solid #333;
    }

    .scroll-dark{
        color: #888;
        border: 1px solid #888;
    }
    .scroll-dark:hover{
        color: #BBB;
        border: 1px solid #BBB;
    }

    .scroll-left{
        margin-right: 0.125rem;
    }
    .scroll-right{
        margin-left: 0.125rem;
    }

    .slide-element{
        .slide-image-container{}
        .slide-person-image{ margin: 0 0 0.5rem 0.75rem; }
        .slide-image-mode-1{}
        .slide-image-mode-2{ border-radius: 50%; }
        .slide-date{}

        .slide-plus-one,
        .slide-display-name{ 
            margin-left: 0.225rem;
            font-size: 0.8rem;
        }
    }
    
    .slide-on.slide-effect-1{}
    .slide-on.slide-effect-2{
        animation: fade_in_half 1s;
        -moz-animation: fade_in_half 1s;
        -webkit-animation: fade_in_half 1s;
        -o-animation: fade_in_half 1s;
        animation: fade_in_half 1s;
    }
    
    .slide-on.slide-effect-3{
        animation: fade_in_half 2s;
        -moz-animation: fade_in_half 2s;
        -webkit-animation: fade_in_half 2s;
        -o-animation: fade_in_half 2s;
        animation: fade_in_half 2s;
    }
    
    .slide-on.slide-effect-4{
        animation: fade_in_full 1s;
        -moz-animation: fade_in_full 1s;
        -webkit-animation: fade_in_full 1s;
        -o-animation: fade_in_full 1s;
        animation: fade_in_full 1s;
    }
    
    .slide-on.slide-effect-5{
        animation: fade_in_full 2s;
        -moz-animation: fade_in_full 2s;
        -webkit-animation: fade_in_full 2s;
        -o-animation: fade_in_full 2s;
        animation: fade_in_full 2s;
    }
    
    .slide-on.slide-effect-6{
        animation: slide_left 2s;
        -moz-animation: slide_left 2s;
        -webkit-animation: slide_left 2s;
        -o-animation: slide_left 2s;
        animation: slide_left 2s;
    }
    
    .slide-on.slide-effect-7{
        animation: slide_left 2s, fade_in_full 2s;
        -moz-animation: slide_left 2s, fade_in_full 2s;
        -webkit-animation: slide_left 2s, fade_in_full 2s;
        -o-animation: slide_left 2s, fade_in_full 2s;
        animation: slide_left 2s, fade_in_full 2s;
    }
    
    .slide-on{
        display:inherit;
    }

    .slide-off{
        display: none;
    }
}

@media screen and (max-width: 47.938rem) {
    .g-google-plus-slider{
        .content-container{
            width: 100%;
        }
        .scroll-contrainer{
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        
        .slide-element{
            .slide-image-container{
                display: inline-block;
                width: 100%;
            }

            .slide-person-image{
                margin: 0.25rem 0 0 0.125rem;
            }
        }
    }
}

/* Fade Half */
@keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity:1; }
}
@-moz-keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity:1; }
}
@-webkit-keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity:1; }
}
@-o-keyframes fade_in_half {
    from { opacity:0.5; }
    to { opacity: 1; }
}

/* Fade Full */
@keyframes fade_in_full {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fade_in_full {
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fade_in_full {
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fade_in_full {
    from { opacity:0; }
    to { opacity: 1; }
}

/* Typing */
@-webkit-keyframes typing {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@-moz-keyframes typing {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@-ms-keyframes typing {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@-o-keyframes typing {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@keyframes typing {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}

@keyframes slide_left {
    from { margin-left: 30%; width: 100%; }
    to { margin-left: 0%; width: 100%; }
}